body {
    margin: 0px;
}

#textbox {
    position: relative;
    bottom: 20px;
    height: 42px;
    font-size: 20px;
    width: 625px;
    padding: 0%;
    border: 1px solid rgb(45, 129, 240);
    display: inline-block;
}

#textBox {
    width: 100%;
    background: #242424;
    margin: 0px;
}

button#search {
    position: relative;
    bottom: 20px;
    height: 42px;
    font-size: 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 0px;
    display: inline-block;
}
button#search:hover
{
    cursor:pointer;
}

form {
    display: inline-block;
    width: 100%;
}

img#AI {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

#toTop {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

div.item {
    padding: 1%;
    margin: 3.5%;
}

div.item h3 {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
    line-height: 1.54;
    font-weight: 400;
    font-size: medium;
    border-collapse: collapse;
    font-family: arial;
    text-overflow: ellipsis;
    cursor: pointer;
}

div.item p {
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial;
    border-collapse: collapse;
    font-size: 13px;
    overflow: scroll;
    height: 5em;
    overflow-x: hidden;
}

div.feedback img {
    width: 20px;
    height: 21.3px;
}

div.feedback span {
    font-size: 13px;
    color: gray;
    margin-right: 10px;
}

div.item a.url {
    font-size: 13px;
    text-decoration: none;
    color: green;
    font-size: 13px;
    border-collapse: collapse;
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial;
    text-overflow: ellipsis;
}

#wrapper ul {
    list-style-type: none;
    margin: 0px;
}

#wrapper li {
    border: 1px solid #96C2F1;
    background: #EFF7FF;
    margin: 5px;
    width: 66.6%;
    border-radius: 20px;
    border: 5px;
}

li:hover {
    transition: all 0.3s;
    transform: scale(1.01);
}

header ul {
    position: absolute;
    top: 20px;
    left: 130px;
    font-size: 20px;
    width: 42.8%;
    padding: 0%;
    border: 1px solid rgb(45, 129, 240);
    background-color: white;
    margin: 0px;
    list-style-type: none;
}

li.search-layer-item {
    height: 1.2em;
    padding: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all; /* 内容自动换行 */
}

a.linkbar {
    text-decoration: none;
    color: black;
}

li#pass {
    font-size: 4px;
    color: gray;
    padding: 6px 0px;
    height: 30px;
}

li.search-layer-item:hover {
    background-color: dodgerblue;
    font-weight: bold;
}

span.time, span.uploader, span.source, span.probability {
    line-height: 1.54;
    word-wrap: break-word;
    word-break: break-word;
    font-family: arial;
    border-collapse: collapse;
    font-size: 13px;
    text-overflow: ellipsis;
    color: gray;
}

.remark {
    float: right;
}

footer {
    padding-top: 20px;
    margin: 2em;
}

footer a, footer img, footer h4 {
    display: block;
    color: dodgerblue;
    text-align: center;
    position:relative;
    left: 50%;
    transform: translate(-50%,0);
}

footer a {
    padding-top: 2em;
}

footer hr {
    color: gray;
}

#toTop img {
    width: 100px;
}

#footer {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

#footer a {
    color: gray;
    text-decoration: none;
}

#footer a:hover {
    color: blue;
}

ul ul{
    position: relative;
}

ul ul::after{
    position: absolute;    
    left:3em;    
    width: calc(100% - 6em);
    bottom:-0.8em;    
    content: '';    
    height:0;    
    border: 1px dashed grey;
}

@media screen and (max-width:1000px) {
    #AI{
        width: 15%;
        height: auto;
    }
    #textbox{
        width:68%;
        font-size:32px;
        height: 52px;
        vertical-align:middle;
    }
    button#search
    {
        width: 12%;
        height: 52px;
        font-size: 2.5vw;
        font-weight: bold;
        vertical-align: middle;
    }
    #wrapper li{
        width:90%;
    }
    
    div.item p{
        overflow: auto;
        height: auto;
        overflow-x: auto;
        font-size: small;
        height: auto;
    }

    div.feedback{
        height: 3vh;
    }

    div.feedback span {
        font-size: large;
        margin-right: 10px;
    }

    div.feedback img {
        height: 2vh;
        width: auto;
    }

    .remark {
        float: right;
    }
}