<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="YalienY, HanXC"/>
    <link rel="shortcut icon" type="images/x-icon" href="{% static 'images/AI_icon.png' %}">
    <link href="{% static 'images/AI_icon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'images/AI_icon.png' %}" rel="Bookmark"/>
    <link rel="stylesheet" type="text/CSS" href="{% static 'CSS/searchResult.css' %}">
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <title>
        智能问答平台搜索结果
    </title>
</head>

<body>
<div id="vue-app" style="overflow: auto; min-height: 500px;">
    <header>
        <div id="top">
            <form>
                <img id='AI' src="{% static 'images/AI_logo.png' %}" @click="toHome"/>
                <input id="hiddenText" type="text" style="display:none"/><!--防止只有一个input回车直接提交表单-->
                <input id="textbox" autocomplete="off" type="text" accept-charset="UTF-8" placeholder="向人工智能提问......"
                       @keydown.enter="doSearch" v-model="searchText"/>
                <button id="search" type="button" @click="doSearch">搜索一下</button>
            </form>
        </div>
    </header>
    <div id="wrapper">
        <ul>
            <!--            <ul :is="item.component" :results="item.results" v-for="(item,index) in items" :key="index"></ul>-->
            <search-item v-for="(item) in items" v-bind:item="item"></search-item>
        </ul>
    </div>
    <a href="#top" id="toTop"><img src="{% static 'images/toIndex.png' %}" alt=""></a>
    <footer>
        <img v-if="isLoading" src="{% static 'images/loading.gif' %}">
    </footer>
</div>

<script>

    const vueApp = new Vue({
        el: "#vue-app",
        // components: {"itemExtend": itemExtend},
        data: {isLoading: false, page: 0, searchText: "", items: []},

        methods:
            {
                doSearch() {
                    jump('searchResult.html', this.searchText);
                },
                toHome() {
                    jump('/');
                },
            },
        mounted() {
            // 页面初始化
            this.searchText = getRequestParam()["search"];
            document.title = this.searchText + "_C语言智能答疑平台搜索结果";
            requestSearch(this);

        }
    });

    // 使用VUE创建检索结果组件
    Vue.component("search-item",
        {
            props: ['item'],
            delimiters : ["{[", "]}"],
            template:

                `
                      <li>
                      <div class="item">
                        <!--                        <div class="item" :question_id="item.questionId">-->
                        <!--                          <a :href="item.qaurl" target="_blank"><h3>{[ item.qsTitle ]}</h3></a>-->
                        <!--                          <span class="uploader">{[ " 提问用户：" + item.userName ]}</span>-->
                        <span class="uploader">{[ item.kind ]} 〉{[ item.qaclass ]}</span>
                        <p>{[ "问: " + item.question ]}</p>
                        <p>{[ "答：" + item.answer ]}</p>
                        <a class="url" :href="item.qaurl" target="_blank">{[ item.qaurl ]}</a>
                        <!--                          <span class="source">{[ "  来源：" + item.source ]}</span>-->
                        <div class="feedback">
                          <img class="up" src="/static/images/up.png" @click="like($event,item);" ref="likeImg"/>
                          <span>点赞! ({[ item.numupvote ]})</span>
                          <img class="down" src="/static/images/down.png" @click="dislike($event,item);"
                               ref="dislikeImg"/>
                          <span>踩! ({[ item.numdownvote ]})</span>
                          <span class="probability">匹配度:{[ item.probability | probabilityFormat ]}</span>
                          <div class="remark">
                            <span class="time">{[ item.creatdate ]}</span>
                          </div>
                        </div>
                      </div>
                      </li>
                    `,
            methods: {
                // 赞
                like(event, item) {
                    const img = event.target;
                    const questionId = item.id;
                    if (img.status === "pressed") {
                        alert('你不能重复点赞！')
                    } else if (this.$refs["dislikeImg"].status === "pressed") {
                        //发送请求+2
                        requestVote(1, -1, questionId, () => {
                            this.$refs["dislikeImg"].src = "{% static 'images/down.png' %}"
                            this.$refs["dislikeImg"].status = "unpressed"
                            img.src = "{% static 'images/uped.png' %}"
                            img.status = "pressed"
                            item.numupvote++;
                            item.numdownvote--;
                        });
                    } else {
                        //发送请求+1
                        requestVote(1, 0, questionId, () => {
                            img.src = "{% static 'images/uped.png' %}"
                            img.status = "pressed"
                            item.numupvote++;
                        });
                    }
                },

                // 踩
                dislike(event, item) {
                    const img = event.target;
                    const questionId = item.id;
                    if (img.status === "pressed") {
                        alert('你不能重复踩！')
                    } else if (this.$refs["likeImg"].status === "pressed") {
                        //发送请求-2
                        requestVote(-1, 1, questionId, () => {
                            this.$refs["likeImg"].src = "{% static 'images/uptop.png' %}"
                            this.$refs["likeImg"].status = "unpressed"
                            img.src = "{% static 'images/downed.png' %}"
                            img.status = "pressed"
                            item.numupvote--;
                            item.numdownvote++;
                        });
                    } else {
                        //发送请求-1
                        requestVote(0, 1, questionId, () => {
                            img.src = "{% static 'images/downed.png' %}"
                            img.status = "pressed"
                            item.numdownvote++;
                        });
                    }
                },
            }
        });

    Vue.filter("probabilityFormat", (str) => {
        const num = Number(str * 100).toFixed(3);
        return `${num}%`
    })

</script>

</body>

</html>